@using System.Configuration
@{
    ViewBag.Title = "问鼎新江湖 游戏首页";
}

<div class="center clear">
    <div class="h_kj">
        <a href="@ConfigurationManager.AppSettings["download"]" class="yxxz"></a>
    </div>
    <div class="bod clear">
        <div class="left clear">
            <ul class="lef1 clear">
                <li><a href="@Url.Action("ExChange")" class="zhdl"></a></li>
                <li><a href="@Url.Action("Register","Account")" class="zhzc"></a></li>
                <li><a href="@Url.Action("GetLevel")" class="yxcz"></a></li>
                <li><a href="@Url.Action("LiBao")" class="hblt"></a></li>
            </ul>
            <div class="fars">
                <div class="heads yxyhxs"><a href="/album/?type_id=78" class="more">更多&gt;&gt;</a></div>
                <div class="c_yxyhxs">
                    <div class="g-product-1 m-product-1 j-li-hover">
                        <div class="caroufredsel_wrapper">
                            <ul class="j-product-scroll clear">
                                <li style="width: 200px;">
                                    <a class="u-img" href="/albumA/?id=65"><img src="/Content/images/53c621a7d819a.jpg"></a>
                                </li>
                                <li style="width: 200px;">
                                    <a class="u-img" href="/albumA/?id=63"><img src="/Content/images/53c5dc6326b4d.jpg"></a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="u-prev f-prev-1" style="display: block;"></a>
                        <a href="#" class="u-next f-next-1" style="display: block;"></a>
                    </div>
                </div>
            </div><div class="fars">
                <div class="heads yxhd">
                    <a href="/lottery" class="more">更多&gt;&gt;</a>
                </div>
                <div class="c_yxhd"></div>
            </div><div class="fars">
                <div class="heads kfzx"></div>
                <div class="c_kfzx">
                    <p>客服热线：021-46456743</p>
                    <p>客服邮箱：admin@wending.com</p>
                    <p>客服QQ：问鼎新江湖</p>
                    <p>玩家Q群：149515121</p>
                </div>
            </div><div class="fars">
                <div class="heads jkyxzg"></div>
                <div class="c_jkyxzg clear">
                    <a>抵制不良游戏</a><a>拒绝盗版游戏</a>
                    <a>注意自我保护</a><a>谨防上当受骗</a>
                    <a>适度游戏益闹</a><a>沉迷游戏伤身</a>
                    <a>合理安排时间</a><a>享受健康生活</a>
                </div>
            </div><div class="fars">
                <div class="heads hzmt"></div><div class="c_hzmt clear">
                    <a href=""><img src="/Content/images/l_pic5.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic6.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic7.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic8.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic5.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic6.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic7.jpg"></a>
                    <a href=""><img src="/Content/images/l_pic8.jpg"></a>
                </div>
            </div><div class="left_bottom"></div>
        </div><div class="right">
            <div class="gonggao clear">
                <div class="sc">
                    <div class="scrollbox">
                        <div class="scrollbigimg" style="top: -234px;">
                            <a href="/newsA/?id=75">
                                <img src="/Content/images/55418e4935ab9.png" style="width:350px; height:234px;">
                            </a><a href="/newsA/?id=65">
                                <img src="/Content/images/55137e314af79.jpg" style="width:350px; height:234px;">
                            </a><a href="/newsA/?id=55">
                                <img src="/Content/images/54dc0fbd7d73e.jpg" style="width:350px; height:234px;">
                            </a><a href="/newsA/?id=54">
                                <img src="/Content/images/54d323b5d7d66.jpg" style="width:350px; height:234px;">
                            </a>
                        </div>
                        <ul class="buttons">
                            <li class="">1</li>
                            <li class="hover">2</li>
                            <li class="">3</li>
                            <li class="">4</li>
                        </ul>
                    </div>
                </div><div class="lists">
                    <div class="tit">
                        <span class="fir on">综合</span>
                        <span>新闻</span><span>公告</span><span>活动</span><a href="/news" class="more">-更多-</a>
                    </div>
                    <div class="lists_con clear" style="display: block;">
                        <ul>
                            <li><a href="/newsA/?id=83"><span class="time">2015-11-01</span><span class="re">[活动]</span>新服开放</a></li>
                        </ul>
                    </div>
                    <div class="lists_con clear" style="display: none;">
                        <ul>
                            <li><a href="/newsA/?id=65"><span class="time">2015-11-01</span><span class="re">[新闻]</span>新服开放</a></li>
                        </ul>
                    </div>
                    <div class="lists_con clear" style="display: none;">
                        <ul>
                            <li><a href="/newsA/?id=43"><span class="time">2015-11-01</span><span class="re">[公告]</span>新服开放</a></li>
                        </ul>
                    </div>
                    <div class="lists_con clear" style="display: none;">
                        <ul>
                            <li><a href="/newsA/?id=83"><span class="time">2015-11-01</span><span class="re">[活动]</span>新服开放</a></li>
                        </ul>
                    </div>
                </div>
            </div><div class="lit_menu">
                <div class="two">
                    <div class="l"><a href="/single/#On64" class="xszn"></a></div>
                    <div class="r">
                        <a href="/singleA/?id=4">游戏背景</a>
                        <a href="/singleA/?id=5">注册账号</a>
                        <a href="/singleA/?id=6">账号登陆</a>
                        <a href="/singleA/?id=7">创建角色</a>
                        <a href="/singleA/?id=8">基础操作</a>
                        <a href="/singleA/?id=9">新手攻略</a>
                    </div>
                </div><div class="two">
                    <div class="l"><a href="/single/#On65" class="yxzl"></a></div>
                    <div class="r">
                        <a href="/singleA/?id=16">角色介绍</a>
                        <a href="/singleA/?id=17">怪物介绍</a><a href="/singleA/?id=18">魔法介绍</a>
                        <a href="/singleA/?id=19">建筑介绍</a><a href="/singleA/?id=20">特色系统</a><a href="/singleA/?id=21">大地图</a>
                    </div>
                </div>
            </div><div class="zhiye">
                <div class="zhiye_s">
                    <a href="javascript:void(0)" class="mj"></a><a href="javascript:void(0)" class="zp"></a>
                    <a href="javascript:void(0)" class="xp"></a>
                </div><div class="lili" style="display: none;">
                    <div class="f">
                        <div class="clear">
                            <a href="" class="zy">幻魔破军</a><a href="" class="zy">血魔刀使</a><a href="" class="zy">黑魔戟将</a>
                        </div><div>
                            <a href="#" class="ckzyxq"></a>
                        </div>
                    </div><img src="/Content/images/zhiye_mj.jpg">
                </div>
                <div class="lili" style="display: block;">
                    <div class="f">
                        <div class="clear">
                            <a href="" class="zy">真武剑侠</a>
                            <a href="" class="zy">神武刀卫</a><a href="" class="zy">玄武斗士</a>
                        </div><div><a href="#" class="ckzyxq"></a></div>
                    </div>
                    <img src="/Content/images/zhiye.jpg">
                </div><div class="lili" style="display: none;">
                    <div class="f">
                        <div class="clear">
                            <a href="" class="zy">天霸刀客</a><a href="" class="zy">天诛杀星</a><a href="" class="zy">天涯舞者</a>
                        </div><div><a href="#" class="ckzyxq"></a></div>
                    </div><img src="/Content/images/zhiye_xp.jpg">
                </div>
            </div><div class="lits">
                <div class="lits_k lits_k2">
                    <div class="tit">
                        <span>玩家相册</span><a href="/album/?type_id=79" class="more">-更多-</a>
                    </div><div class="li_pic clear">
                        <div class="k">
                            <div class="pic">
                                <a href="/albumA/?id=62"><img src="/Content/images/53c4e8db24e51.jpg" width="88" height="60"></a>
                            </div><a href="/albumA/?id=62" class="t">小白兔</a>
                        </div>
                        <div class="k">
                            <div class="pic">
                                <a href="/albumA/?id=61">
                                    <img src="/Content/images/53c4e8db24e51.jpg" width="88" height="60">
                                </a>
                            </div><a href="/albumA/?id=61" class="t">菲菲</a>
                        </div>
                    </div>
                </div><div class="lits_k lits_k2">
                    <div class="tit"><span>游戏截图</span><a href="/album/?type_id=77" class="more">-更多-</a></div>
                    <div class="li_pic clear">
                        <div class="k">
                            <div class="pic">
                                <a href="/albumA/?id=64">
                                    <img src="/Content/images/53c5def2b4e5d.jpg" width="88" height="60">
                                </a>
                            </div><a href="/albumA/?id=64" class="t">游戏截图一</a>
                        </div>
                    </div>
                </div>
                <div class="lits_k">
                    <div class="tit"><span>江湖G问</span><a href="/lists/?type_id=76" class="more">-更多-</a></div>
                    <div class="li_tex">
                        <div class="tj">
                            <div class="pi">
                                <a href="/listsA/?id=68">
                                    <img src="/Content/images/53c6283904786.jpg">
                                </a>
                            </div><div class="in"><a href="/listsA/?id=68">江湖G问 置顶</a><div class="jj">江湖G问 置顶  简介</div></div>
                        </div>
                        <ul>
                            <li>
                                <a href="/listsA/?id=68">
                                    <span class="time">2014-07-16</span>
                                    <span class="ico">·</span>江湖G问 置顶
                                </a>
                            </li>
                            <li>
                                <a href="/listsA/?id=67">
                                    <span class="time">2014-07-16</span><span class="ico">·</span>江湖G问二
                                </a>
                            </li>
                            <li><a href="/listsA/?id=66"><span class="time">2014-07-16</span><span class="ico">·</span>江湖G问一</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lits_k">
                    <div class="tit">
                        <span>常见问题</span><a href="/lists/?type_id=75" class="more">-更多-</a>
                    </div><div class="li_tex">
                        <div class="tj">
                            <div class="pi">
                                <a href="/listsA/?id=69">
                                    <img src="/Content/images/53c6320a8f0c6.jpg">
                                </a>
                            </div><div class="in">
                                <a href="/listsA/?id=69">常见问题一 置顶</a><div class="jj"> 常见问题一 置顶  简介！！！</div>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <a href="/listsA/?id=69">
                                    <span class="time">2014-07-16</span>
                                    <span class="ico">·</span>常见问题一 置顶
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Scripts/carouFredSel-6.2.1-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.m-product-1 .j-product-scroll').carouFredSel({
                responsive: true,
                direction: "left",
                prev: '.f-prev-1',
                next: '.f-next-1',
                width: '100%',
                auto: {
                    play: true,
                    timeoutDuration: 3000
                },
                pause: 3000,
                scroll: 1,
                items: {
                    visible: {
                        min: 1,
                        max: 1
                    }
                }
            });
        });
    </script>
}
