@using System.Configuration
@{
    ViewBag.Title = "兄弟新江湖";
}
<div id="title" style="position:absolute;top:20px;right:80px;font-size: 18px;color:white"><a style="margin-right:10px;color:violet;font-size:18px;" href="javascript:changePwd()">修改密码</a></div>

<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th height="422" scope="col"><img src="/Content/images/image 8.jpg" width="1002" height="422"></th>
    </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: -3px;">
    <tr>
        <th width="67" background="/Content/images/Ljstyle_Net_Images_04.jpg" scope="col">&nbsp;</th>
        <th scope="col"><a href="javascript:register()" target="_blank" ><img src="/Content/images/Ljstyle_Net_Images_05.jpg" alt="注册" width="289" height="103" border="0"></a></th>
        <th scope="col"><a href="" target="_blank" ><img src="/Content/images/Ljstyle_Net_Images_06.jpg" alt="抽奖" width="292" height="103" border="0"></a></th>
        <th scope="col"><a href="@ConfigurationManager.AppSettings["download"]" target="_blank"><img src="/Content/images/Ljstyle_Net_Images_07.jpg" alt="游戏下载" width="291" height="103" border="0"></a></th>
        <th width="63" height="103" background="/Content/images/Ljstyle_Net_Images_08.jpg" scope="col">&nbsp;</th>
    </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th height="450" align="left" valign="top" background="/Content/images/Ljstyle_Net_Images_09.jpg" scope="col">
            <table width="1002" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="88" scope="col">&nbsp;</th>
                    <th width="246" align="left" valign="top" scope="col">
                        <table width="246" height="65" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </table>
                        <table width="246" height="42" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th align="left" scope="col">&nbsp;<span class="STYLE85">兄弟江湖每日定时开放多区。</span></th>
                            </tr>
                        </table>
                        <table width="246" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="8" scope="col"></th>
                            </tr>
                        </table>
                        <table width="246" height="42" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th align="left" scope="col">&nbsp;<span class="STYLE86">2015新年巨献期待你的加入。</span></th>
                            </tr>
                        </table>
                        <table width="246" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="8" scope="col"></th>
                            </tr>
                        </table>
                        <table width="246" height="42" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th align="left" scope="col">&nbsp;<span class="STYLE98">绝对散人服，无任何待遇比例！</span></th>
                            </tr>
                        </table>
                        <table width="246" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="8" scope="col"></th>
                            </tr>
                        </table>
                        <table width="246" height="42" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th align="left" scope="col">&nbsp;<span class="STYLE87">长期开放，人气火爆，重金广告。</span></th>
                            </tr>
                        </table>
                        <table width="246" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="8" scope="col"></th>
                            </tr>
                        </table>
                        <table width="246" height="42" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th align="left" scope="col">&nbsp;<span class="STYLE87">封杀一切外挂,开挂者永久封号！</span></th>
                            </tr>
                        </table>
                        <table width="246" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="8" scope="col"></th>
                            </tr>
                        </table>
                        <table width="246" height="42" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th align="left" scope="col">&nbsp;<span class="STYLE89">元宝:1比300 点卡送90% 网银送100%</span></th>
                            </tr>
                        </table>
                    </th>
                    <th width="49" height="450" scope="col">&nbsp;</th>
                    <th width="534" valign="top" scope="col">
                        <table width="534" height="26" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </table>
                        <table width="534" height="350" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="534" height="350" scope="col"><iframe src="/Content/Flash_News/Flash.html" name="Flash" width="534" marginwidth="0" height="350" marginheight="0" scrolling="no" frameborder="0"></iframe></th>
                            </tr>
                        </table>
                    </th>
                    <th width="85" scope="col">&nbsp;</th>
                </tr>
            </table>
        </th>
    </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th height="183" align="left" valign="top" background="/Content/images/Ljstyle_Net_Images_10.jpg" scope="col">
            <table width="1002" height="111" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th scope="col">&nbsp;</th>
                </tr>
            </table>
            <table width="1002" height="64" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="79" scope="col">&nbsp;</th>
                    <th width="848" background="/Content/images/TB-by.jpg" scope="col">
                        <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr>
                                <th height="62" bgcolor="#000000" scope="col">
                                    <marquee style="filter:progid:DXImageTransform.Microsoft.Alpha(startX=0, startY=0, finishX=10, finishY=100,style=1,opacity=0,finishOpacity=100);">
                                        <span class="STYLE91 STYLE101 STYLE97 STYLE104">兄弟江湖，努力打造超人气品牌江湖 2015年最好玩的江湖。</span>
                                    </marquee>
                                </th>
                            </tr>
                        </table>
                    </th>
                    <th width="75" scope="col">&nbsp;</th>
                </tr>
            </table>
        </th>
    </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th height="351" background="/Content/images/Ljstyle_Net_Images_11.jpg" scope="col">
            <table width="1002" height="320" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="79" rowspan="8" scope="col">&nbsp;</th>
                    <th width="84" height="40" background="/Content/images/40_px.gif" scope="col"><img src="/Content/Down/Js.png" width="72" height="16"></th>
                    <th width="691" align="left" background="/Content/images/40_px.gif" scope="col">&nbsp;<span class="STYLE100">兄弟江湖，努力打造超人气品牌江湖 2015年最好玩的江湖。 </span></th>
                    <th width="73" align="center" background="/Content/images/40_px.gif" scope="col">
                        <table width="64" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="21" background="/Content/images/ShiJian.jpg" scope="col"><span class="STYLE98">03.02</span></th>
                            </tr>
                        </table>
                    </th>
                    <th width="75" rowspan="8" scope="col">&nbsp;</th>
                </tr>
                <tr>
                    <th height="40" background="/Content/images/40_px.gif" scope="col"><img src="/Content/Down/Js.png" width="72" height="16"></th>
                    <th height="40" align="left" background="/Content/images/40_px.gif" scope="col">&nbsp;<span class="STYLE103">魔龙小怪爆战神，BOSS爆本服全部装备。</span></th>
                    <th height="40" align="center" background="/Content/images/40_px.gif" scope="col">
                        <table width="64" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="21" background="/Content/images/ShiJian.jpg" scope="col"><span class="STYLE98">03.02</span></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                <tr>
                    <th height="40" background="/Content/images/40_px.gif" scope="col"><img src="/Content/Down/Js.png" width="72" height="16"></th>
                    <th height="40" align="left" background="/Content/images/40_px.gif" scope="col">&nbsp;<span class="STYLE103">新手上线送35级所有技能 合击技能免费领取。</span></th>
                    <th height="40" align="center" background="/Content/images/40_px.gif" scope="col">
                        <table width="64" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="21" background="/Content/images/ShiJian.jpg" scope="col"><span class="STYLE98">03.02</span></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                <tr>
                    <th height="40" background="/Content/images/40_px.gif" scope="col"><img src="/Content/Down/Bl.png" width="72" height="16"></th>
                    <th height="40" align="left" background="/Content/images/40_px.gif" scope="col">&nbsp;<span class="STYLE100">新增地图 爆率翻倍 可爆出本服全部装备(包括剑甲)</span></th>
                    <th height="40" align="center" background="/Content/images/40_px.gif" scope="col">
                        <table width="64" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="21" background="/Content/images/ShiJian.jpg" scope="col"><span class="STYLE98">03.02</span></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                <tr>
                    <th height="40" background="/Content/images/40_px.gif" scope="col"><img src="/Content/Down/Jl.png" width="72" height="16"></th>
                    <th height="40" align="left" background="/Content/images/40_px.gif" scope="col">&nbsp;<span class="STYLE100">新区开放第三天首次攻沙奖励600元RMB，老区天天攻沙。</span></th>
                    <th height="40" align="center" background="/Content/images/40_px.gif" scope="col">
                        <table width="64" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="21" background="/Content/images/ShiJian.jpg" scope="col"><span class="STYLE98">03.02</span></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                <tr>
                    <th height="40" background="/Content/images/40_px.gif" scope="col"><img src="/Content/Down/ts.png" width="72" height="16"></th>
                    <th height="40" align="left" background="/Content/images/40_px.gif" scope="col">&nbsp;<span class="STYLE101">装备值钱 运9好搞 散人好混，设置合理 绝无秒杀</span></th>
                    <th height="40" align="center" background="/Content/images/40_px.gif" scope="col">
                        <table width="64" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="21" background="/Content/images/ShiJian.jpg" scope="col"><span class="STYLE98">03.02</span></th>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </th>
    </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <th height="163" align="left" valign="top" background="/Content/images/Ljstyle_Net_Images_14.jpg" scope="col">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th height="15" scope="col"></th>
                </tr>
            </table>
            <table width="1002" height="64" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="79" scope="col">&nbsp;</th>
                    <th width="848" background="/Content/images/TB-by.jpg" scope="col">
                        <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr>
                                <th height="62" bgcolor="#000000" scope="col"><span class="STYLE99">健康游戏忠告 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</span></th>
                            </tr>
                        </table>
                    </th>
                    <th width="75" scope="col">&nbsp;</th>
                </tr>
            </table>
        </th>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <th height="124" background="/Content/images/Ljstyle_Net_Images_15.jpg" scope="col">
            <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <th height="124" scope="col">
                        <table class="lianjie2" width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="26" align="center">
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="154" height="29">
                                        <param name="movie" value="Mp3/Mp3play.swf">
                                        <param name="quality" value="high">
                                        <param name="wmode" value="transparent">
                                        <embed src="/Content/Mp3/Mp3play.swf" width="154" height="29" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
                                    </object>
                                </td>
                            </tr>
                            <tr>
                                <td height="26" align="center" class="STYLE83">站版权所有 兄弟江湖 保留所有权利 未经许可请勿任意转载或复制使用</td>
                            </tr>
                            <tr>
                                <td height="26" align="center" class="STYLE83">建议使用 I8.0 1280*800 分辨率、或以上，浏览本站达到最佳视觉效果</td>
                            </tr>
                            <tr></tr>
                        </table>
                    </th>
                </tr>
            </table>
        </th>
    </tr>
</table>
@section scripts
{
    <link href="~/Content/layer/skin/layer.css" rel="stylesheet" />
    <script src="~/Content/layer/layer.js"></script>
    <script type="text/javascript">
        if (!'@ViewBag.aName') {
            layer.open({
                scrollbar: false,
                title: false,
                type: 2,
                skin: 'layui-layer-nobg', //没有背景色
                area: ['700px', '400px'],
                fix: false, //不固定
                shift: 4,
                maxmin: false,
                content: '@Url.Action("Index","Account")'
            });
        }

        function close(msg) {
            layer.closeAll('iframe');
            layer.msg(msg, { time: 1000, icon: 16, shade: [0.5, '#393D49'] }, function () {
                location.href = '@Url.Action("Index","Main")';
            });
        }
        function register() {
            layer.open({
                shift: 2,
                scrollbar: false,
                title: false,
                type: 2,
                skin: 'layui-layer-nobg', //没有背景色
                area: ['700px', '450px'],
                fix: false, //不固定
                maxmin: false,
                content: '@Url.Action("Register","Account")'
            });
        }
        if ('@ViewBag.aName') {
            $("#title").append('<span>当前在线用户：【@ViewBag.aName】</span> &nbsp;&nbsp;<a id="exit" href="javascript:void(0)">立即退出</a>');
            $("#exit").click(function () {
                layer.confirm('确定要退出吗?', { icon: 3 }, function (index) {
                    layer.close(index);
                    $.ajax({
                        url: '@Url.Action("Exit", "Account")',
                        type: 'post',
                        success: function (s) {
                            if (s) {
                                location.reload();
                            }
                        },
                        error: function () {
                            layer.msg("服务器繁忙,稍后请重试!");
                        }
                    });
                });
            });
        }

        function changePwd() {
            layer.open({
                shift: 2,
                scrollbar: false,
                title: false,
                type: 2,
                skin: 'layui-layer-nobg', //没有背景色
                area: ['700px', '450px'],
                fix: false, //不固定
                maxmin: false,
                content: '@Url.Action("ChangePwd","Account")'
            });
        }
    </script>
}
